.App{
  display: flex;
  justify-content: space-around !important;
}
.AppPlay{
  flex-basis: 70%;
  border-right: 1px solid rgb(0, 60, 255);
  margin-top: 12px;
}
.App .rule{
  flex-basis: 30%;
  text-align: justify;
  border: 1px solid rgb(123, 125, 156);
  padding: 8px 12px;
  margin: 24px 24px 0 64px;
  border-radius: 5px;
}
.rule h3{
  margin: 8px 0px;
  text-align: center;
}

@media (max-width:700px){
  .App{
    /* flex-basis: 100%; */
    flex-wrap: wrap;
  }
 .AppPlay,.rule{
   flex-basis: 100% !important;
 }
 .rule{
   width: 100% !important;
   display: block;
   margin-top: 12px !important;
 }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



h3.title{
  color:blue;
  font-size: 1.6rem !important;
  margin-top: 4px;
  text-shadow: 2px 2px 5px rgb(189, 171, 171);
  text-align: center;
}